<!DOCTYPE html>
<html style="" class="js" itemscope="itemscope" itemtype="https://schema.org/WebPage" lang="en-US"><!-- head -->

<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"><script async="" src="javascripts/www-widgetapi.js" id="www-widgetapi-script" type="text/javascript"></script>

<!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title itemprop="name">THUBITCOIN</title>

<meta name="description" content="Buy Bitcoin, Create Bitcoin Wallets, Read Bitcoin News, and more, at Bitcoin.com">
<meta name="keywords" content="Bitcoin Wallets News Forums Buy Sell exchange shopping advertising">
<div style="display: none;" id="fit-vids-style" class="fit-vids-style">­<style>.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></div><script src="javascripts/analytics.js" async=""></script><script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-59964190-1', 'auto');
    ga('send', 'pageview');

</script>
<link rel="shortcut icon" href="https://www.bitcoin.com/wp-content/uploads/2016/01/btc_fav.png">  


<!-- wp_head() -->
<script>
//<![CDATA[
window.mfn_ajax = "/wp-admin/admin-ajax.php";
window.mfn_nicescroll = 40;
window.mfn_prettyphoto = {style:"pp_default", width:0, height:0};
window.mfn_sliders = {blog:0, clients:0, offer:0, portfolio:0, shop:0, slider:0, testimonials:0};
window.mfn_retina_disable = 0;
//]]>
</script>
<link rel="alternate" type="application/rss+xml" title="Bitcoin.com » Feed" href="https://www.bitcoin.com/feed">
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.1"}};
      !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script><script type="text/javascript" src="javascripts/wp-emoji-release.js"></script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel="stylesheet" id="flick-css" href=stylesheets/flick.css" type="text/css" media="all">
<link rel="stylesheet" id="mailchimpSF_main_css-css" href="stylesheets/a.css" type="text/css" media="all">
<!--[if IE]>
<link rel='stylesheet' id='mailchimpSF_ie_css-css'  href='/wp-content/plugins/mailchimp/css/ie.css?ver=4.5.1' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="nb-core-css" href="stylesheets/swift-box-layout.css" type="text/css" media="all">
<link rel="stylesheet" id="popup-maker-site-css" href="stylesheets/site.css" type="text/css" media="all">
<link rel="stylesheet" id="wa_chpcs_style-css" href="stylesheets/custom-style.css" type="text/css" media="all">
<link rel="stylesheet" id="cntctfrm_form_style-css" href="stylesheets/form_style.css" type="text/css" media="all">
<link rel="stylesheet" id="rs-plugin-settings-css" href="stylesheets/settings.css" type="text/css" media="all">
<style id="rs-plugin-settings-inline-css" type="text/css">
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}.tp-caption a{-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}
</style>
<link rel="stylesheet" id="wp-carousel-free-css-main-css" href="stylesheets/owl_006.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-carousel-free-css-transition-css" href="stylesheets/owl_003.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-carousel-free-css-theme-css" href="stylesheets/owl_002.css" type="text/css" media="all">
<link rel="stylesheet" id="wcf-fontello-css-css" href="stylesheets/fontello.css" type="text/css" media="all">
<link rel="stylesheet" id="multi-color-sub-css" href="stylesheets/multicolor-subscribe-widget.css" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="stylesheets/style_002.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-base-css" href="stylesheets/base.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-btn-css" href="stylesheets/buttons.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-icons-css" href="stylesheets/mfn-icons.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-grid-css" href="stylesheets/grid.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-layout-css" href="stylesheets/layout.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-shortcodes-css" href="stylesheets/shortcodes.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-variables-css" href="stylesheets/variables.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-simple-css" href="stylesheets/style-simple.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-animations-css" href="stylesheets/animations.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-colorpicker-css" href="stylesheets/colorpicker.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-jquery-ui-css" href="stylesheets/jquery.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-jplayer-css" href="stylesheets/jplayer.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-prettyPhoto-css" href="stylesheets/prettyPhoto.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-responsive-1240-css" href="stylesheets/responsive-1240.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-responsive-css" href="stylesheets/responsive.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-colors-php-css" href="stylesheets/style-colors.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-style-php-css" href="stylesheets/style.css" type="text/css" media="all">
<link rel="stylesheet" id="Roboto-css" href="stylesheets/css_003.css" type="text/css" media="all">
<link rel="stylesheet" id="Titillium+Web-css" href="stylesheets/css.css" type="text/css" media="all">
<link rel="stylesheet" id="Patua+One-css" href="stylesheets/css_002.css" type="text/css" media="all">
<link rel="stylesheet" id="mfn-custom-css" href="stylesheets/custom.css" type="text/css" media="all">
<link rel="stylesheet" id="__EPYT__style-css" href="stylesheets/ytprefs.css" type="text/css" media="all">
<style id="__EPYT__style-inline-css" type="text/css">

                .epyt-gallery-thumb {
                        width: 33.333%;
                }
</style>
<link rel="stylesheet" id="style.owl.carousel-css" href="stylesheets/owl.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.theme-css" href="stylesheets/owl_004.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.transitions-css" href="stylesheets/owl_005.css" type="text/css" media="all">
<link rel="stylesheet" id="style.owl.carousel.styles-css" href="stylesheets/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="jquery.lightbox.min.css-css" href="stylesheets/lightbox.css" type="text/css" media="all">
<script type="text/javascript" src="javascripts/jquery_013.js"></script>
<script type="text/javascript" src="javascripts/jquery-migrate.js"></script>
<script type="text/javascript" src="javascripts/scrollTo.js"></script>
<script type="text/javascript" src="javascripts/jquery_012.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var mailchimpSF = {"ajax_url":"https:\/\/www.bitcoin.com\/"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/mailchimp.js"></script>
<script type="text/javascript" src="javascripts/core.js"></script>
<script type="text/javascript" src="javascripts/datepicker.js"></script>
<script type="text/javascript" src="javascripts/jquery_009.js"></script>
<script type="text/javascript" src="javascripts/jquery_007.js"></script>
<script type="text/javascript" src="javascripts/jquery_011.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var chpcsArgs = {"auto_scroll":"false","circular":"false","easing_effect":"linear","item_align":"center","direction":"left","touch_swipe":"false","item_width":"180","time_out":"3000","css_transition":"false","infinite":"true","fx":"scroll"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/script.js"></script>
<script type="text/javascript" src="javascripts/cntctfrm.js"></script>
<script type="text/javascript" src="javascripts/jquery_005.js"></script>
<script type="text/javascript" src="javascripts/jquery_010.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _EPYT_ = {"ajaxurl":"\/wp-admin\/admin-ajax.php","security":"125d409fb5","gallery_scrolloffset":"20","eppathtoscripts":"https:\/\/www.bitcoin.com\/wp-content\/plugins\/youtube-embed-plus\/scripts\/","epresponsiveselector":"[\"iframe.__youtube_prefs_widget__\"]","epdovol":"1","version":"11.0.1","evselector":"iframe.__youtube_prefs__[src], iframe[src*=\"youtube.com\/embed\/\"], iframe[src*=\"youtube-nocookie.com\/embed\/\"]"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/ytprefs.js"></script><script type="text/javascript" src="javascripts/iframe_api"></script>
<script type="text/javascript" src="javascripts/cycle.js"></script>
<script type="text/javascript" src="javascripts/owl.js"></script>
<script type="text/javascript" src="javascripts/script_002.js"></script>
<link rel="https://api.w.org/" href="https://www.bitcoin.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.bitcoin.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.bitcoin.com/wp-includes/wlwmanifest.xml"> 
<link rel="canonical" href="https://www.bitcoin.com/">
<link rel="shortlink" href="https://www.bitcoin.com/">
<link rel="alternate" type="application/json+oembed" href="https://www.bitcoin.com/wp-json/oembed/1.0/embed?url=%2F">
<link rel="alternate" type="text/xml+oembed" href="https://www.bitcoin.com/wp-json/oembed/1.0/embed?url=%2F&amp;format=xml">
    <style id="pum-styles" type="text/css">
    /* Popup Google Fonts */
@import url('//fonts.googleapis.com/css?family=Acme|Montserrat');

/* Popup Theme 3586: Framed Border */
.pum-theme-3586, .pum-theme-framed-border { background-color: rgba( 255, 255, 255, 0.5 ) } 
.pum-theme-3586 .pum-container, .pum-theme-framed-border .pum-container { padding: 18px; border-radius: 0px; border: 20px outset #dd3333; box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.97 ) inset; background-color: rgba( 255, 251, 239, 1 ) } 
.pum-theme-3586 .pum-title, .pum-theme-framed-border .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 32px; line-height: 36px } 
.pum-theme-3586 .pum-content, .pum-theme-framed-border .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3586 .pum-content + .pum-close, .pum-theme-framed-border .pum-content + .pum-close { height: 20px; width: 20px; left: auto; right: -20px; bottom: auto; top: -20px; padding: 0px; color: #ffffff; font-family: Acme; font-size: 20px; line-height: 20px; border: 1px none #ffffff; border-radius: 0px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 0, 0, 0.55 ) } 
/* Popup Theme 3585: Cutting Edge */
.pum-theme-3585, .pum-theme-cutting-edge { background-color: rgba( 0, 0, 0, 0.5 ) } 
.pum-theme-3585 .pum-container, .pum-theme-cutting-edge .pum-container { padding: 18px; border-radius: 0px; border: 1px none #000000; box-shadow: 0px 10px 25px 0px rgba( 2, 2, 2, 0.5 ); background-color: rgba( 30, 115, 190, 1 ) } 
.pum-theme-3585 .pum-title, .pum-theme-cutting-edge .pum-title { color: #ffffff; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: Sans-Serif; font-size: 26px; line-height: 28px } 
.pum-theme-3585 .pum-content, .pum-theme-cutting-edge .pum-content { color: #ffffff; font-family: inherit } 
.pum-theme-3585 .pum-content + .pum-close, .pum-theme-cutting-edge .pum-content + .pum-close { height: 24px; width: 24px; left: auto; right: 0px; bottom: auto; top: 0px; padding: 0px; color: #1e73be; font-family: inherit; font-size: 32px; line-height: 24px; border: 1px none #ffffff; border-radius: 0px; box-shadow: -1px 1px 1px 0px rgba( 2, 2, 2, 0.1 ); text-shadow: -1px 1px 1px rgba( 0, 0, 0, 0.1 ); background-color: rgba( 238, 238, 34, 1 ) } 
/* Popup Theme 3584: Hello Box */
.pum-theme-3584, .pum-theme-hello-box { background-color: rgba( 0, 0, 0, 0.75 ) } 
.pum-theme-3584 .pum-container, .pum-theme-hello-box .pum-container { padding: 30px; border-radius: 80px; border: 14px solid #81d742; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3584 .pum-title, .pum-theme-hello-box .pum-title { color: #2d2d2d; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: Montserrat; font-size: 32px; line-height: 36px } 
.pum-theme-3584 .pum-content, .pum-theme-hello-box .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3584 .pum-content + .pum-close, .pum-theme-hello-box .pum-content + .pum-close { height: auto; width: auto; left: auto; right: -30px; bottom: auto; top: -30px; padding: 0px; color: #2d2d2d; font-family: inherit; font-size: 32px; line-height: 28px; border: 1px none #ffffff; border-radius: 28px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 255, 255, 255, 1 ) } 
/* Popup Theme 3583: Enterprise Blue */
.pum-theme-3583, .pum-theme-enterprise-blue { background-color: rgba( 0, 0, 0, 0.7 ) } 
.pum-theme-3583 .pum-container, .pum-theme-enterprise-blue .pum-container { padding: 28px; border-radius: 5px; border: 1px none #000000; box-shadow: 0px 10px 25px 4px rgba( 2, 2, 2, 0.5 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3583 .pum-title, .pum-theme-enterprise-blue .pum-title { color: #315b7c; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 34px; line-height: 36px } 
.pum-theme-3583 .pum-content, .pum-theme-enterprise-blue .pum-content { color: #2d2d2d; font-family: inherit } 
.pum-theme-3583 .pum-content + .pum-close, .pum-theme-enterprise-blue .pum-content + .pum-close { height: 28px; width: 28px; left: auto; right: 8px; bottom: auto; top: 8px; padding: 4px; color: #ffffff; font-family: inherit; font-size: 20px; line-height: 20px; border: 1px none #ffffff; border-radius: 42px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 49, 91, 124, 1 ) } 
/* Popup Theme 3582: Light Box */
.pum-theme-3582, .pum-theme-lightbox { background-color: rgba( 0, 0, 0, 0.6 ) } 
.pum-theme-3582 .pum-container, .pum-theme-lightbox .pum-container { padding: 18px; border-radius: 3px; border: 8px solid #000000; box-shadow: 0px 0px 30px 0px rgba( 2, 2, 2, 1 ); background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3582 .pum-title, .pum-theme-lightbox .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-size: 32px; line-height: 36px } 
.pum-theme-3582 .pum-content, .pum-theme-lightbox .pum-content { color: #000000; font-family: inherit } 
.pum-theme-3582 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close { height: 30px; width: 30px; left: auto; right: -24px; bottom: auto; top: -24px; padding: 0px; color: #ffffff; font-family: inherit; font-size: 24px; line-height: 26px; border: 2px solid #ffffff; border-radius: 30px; box-shadow: 0px 0px 15px 1px rgba( 2, 2, 2, 0.75 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 0, 0, 1 ) } 
/* Popup Theme 3581: Default Theme */
.pum-theme-3581, .pum-theme-default-theme { background-color: rgba( 255, 255, 255, 1 ) } 
.pum-theme-3581 .pum-container, .pum-theme-default-theme .pum-container { padding: 18px; border-radius: 0px; border: 1px none #000000; box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.23 ); background-color: rgba( 249, 249, 249, 1 ) } 
.pum-theme-3581 .pum-title, .pum-theme-default-theme .pum-title { color: #000000; text-align: left; text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 ); font-family: inherit; font-weight: inherit; font-size: 32px; font-style: normal; line-height: 36px } 
.pum-theme-3581 .pum-content, .pum-theme-default-theme .pum-content { color: #8c8c8c; font-family: inherit; font-weight: inherit; font-style: normal } 
.pum-theme-3581 .pum-content + .pum-close, .pum-theme-default-theme .pum-content + .pum-close { height: auto; width: auto; left: auto; right: 0px; bottom: auto; top: 0px; padding: 8px; color: #ffffff; font-family: inherit; font-weight: inherit; font-size: 12px; font-style: normal; line-height: 14px; border: 1px none #ffffff; border-radius: 0px; box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 ); text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 ); background-color: rgba( 0, 183, 205, 1 ) } 
        </style>  <script type="text/javascript">
    jQuery(function($) {
      $('.date-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd/yyyy';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: true,
          beforeShow: function(input, inst) { $('#ui-datepicker-div').addClass('show'); },
          dateFormat: format.toLowerCase(),
        });
      });
      d = new Date();
      $('.birthdate-pick').each(function() {
        var format = $(this).data('format') || 'mm/dd';
        format = format.replace(/yyyy/i, 'yy');
        $(this).datepicker({
          autoFocusNextInput: true,
          constrainInput: false,
          changeMonth: true,
          changeYear: false,
          minDate: new Date(d.getFullYear(), 1-1, 1),
          maxDate: new Date(d.getFullYear(), 12-1, 31),
          beforeShow: function(input, inst) { $('#ui-datepicker-div').removeClass('show'); },
          dateFormat: format.toLowerCase(),
        });

      });

    });
  </script>
  <script type="text/javascript">
  jQuery(document).ready(function(){
    jQuery('img[usemap]').rwdImageMaps();
  });
</script>
<style type="text/css">
  img[usemap] { max-width: 100%; height: auto; }
</style>

<link rel="alternate" type="application/rss+xml" title="Podcast RSS feed" href="https://www.bitcoin.com/feed/podcast-feed">

<style>
#Action_bar .social li a i { font-size: 25px; color: #0d579b; }


@media screen and (max-width:768px) {
    ul.social {
        display: none;
    }
    .nav-tabs.pull-left, .nav-tabs.pull-right {
         float:none; 
    }
    .nav-tabs.col-md-6 {
         width:auto;
    }
    .nav-tabs li.label { 
        display:block;
    }
}
body {
        padding-top: 0;
}

ul.contact_details {
margin-top: 14px;
}

.rev-btn {
text-align:center;
}
#menu > ul > li > a, .action_button, #overlay-menu ul li a {
font-family: 'museo-sans-rounded' !important;
text-transform: capitalize;
}

#Footer {
background-size:cover;
background-position: center center;
}

#Header {
padding:15px 0;
}
.header-plain #Top_bar {
border-bottom:0;
}

.top_bar_right {
display:none;
}
.header-plain #Top_bar .menu > li:first-child > a span:not(.description) {
border:0;
}
#Top_bar #logo {
padding:10px 0;
}

.orange-spinner {
    background-image: url(/wp-content/plugins/spin-orange.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgb(251, 186, 22);
    color: rgba(0,0,0,0);
}

#mc_mv_FREQ {
    background: url(https://www.bitcoin.com/wp-content/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 244px;
}
.ui-tabs .ui-tabs-nav li a {
border-color:#fab915;
}
.ui-tabs .ui-tabs-nav li a:hover {
background:#fab915 !important;
color:#fff;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a:after {
background:#fab915;
}
.header-bg .inside {
line-height:30px;
}

.nav-tabs {
border-bottom:1px solid #ddd;
margin-bottom:15px;
}
.nav-tabs li {
display:inline-block;
border:1px solid #ddd;
position:relative;
top:1px;
z-index:99;
border-radius:4px 4px 0px 0px;
margin-right:15px;
}
.nav-tabs li.label {
border:0;
font-weight:bold;
}

.nav-tabs li:last-child {
margin-right:0;
}
.nav-tabs li a {
padding:15px;
display:block;
}
.nav-tabs li.active {
border-bottom:1px solid #fff;
}
.nav-tabs li.active a {
color:#333;

}
.tab-content .tab {
display:none;
}
.tab-content .tab.active {
display:block;
}

.pull-left {
float:left;
}
.pull-right {
float:right;
}
.col-md-6 {
width:50%;
}

.tab img {
width:auto;
}
</style>

<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="generator" content="Powered by Slider Revolution 5.0.4.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
<link rel="stylesheet" href="stylesheets/dark.css"><link rel="stylesheet" href="stylesheets/magnific-popup-style.css">
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/extensions/revolution.extension.parallax.min.js"></script>
</head>

<!-- body -->
<body style="" class="home page page-id-7 page-template-default template-slider  color-custom style-simple layout-full-width no-section-bg-tablet mobile-tb-left mobile-wide no-content-padding header-plain header-boxed minimalist-header sticky-header sticky-white ab-hide subheader-title-left menu-line-below menuo-right menuo-no-borders">

  
  <!-- mfn_hook_top --><!-- mfn_hook_top -->  
    
    
  <!-- #Wrapper -->
  <div style="" id="Wrapper">
  
        
      
    <!-- #Header_bg -->
    <div style="background-position: 0% 134.5px;" id="Header_wrapper" class="bg-parallax" data-stellar-background-ratio="0.5">
  
      <!-- #Header -->
      <header id="Header">
        


<!-- .header_placeholder 4sticky  -->
<div style="height: 80px;" class="header_placeholder"></div>
<div style="top: 0px;" class="is-sticky" id="Top_bar">

  <div class="container">
    <div class="column one">
    
      <div style="width: 1131px;" class="top_bar_left clearfix">
      
        <!-- .logo -->
        <div class="logo">
          <a id="logo" href="https://www.bitcoin.com/" title="Bitcoin.com"><img class="logo-main   scale-with-grid" src="images/my-bitcoin-logo.png" alt="Bitcoin.com"><img class="logo-sticky scale-with-grid" src="images/my-bitcoin-logo.png" alt=""><img class="logo-mobile scale-with-grid" src="images/my-bitcoin-logo.png" alt=""></a>        </div>
      
        <div class="menu_wrapper">
          <nav id="menu" class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-2516" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/choose-your-wallet"><span>Wallets</span></a></li>
<li id="menu-item-3371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Get Bitcoin</span></a></li>
<li id="menu-item-3531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Spend Bitcoin</span></a></li>
<li id="menu-item-2868" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://forum.bitcoin.com/"><span>Program Introduction</span></a></li>
<li id="menu-item-3555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>About Us</span></a>
<li id="menu-item-2572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Get Start</span></a>
<ul class="sub-menu">
  <li id="menu-item-2573" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/getting-started"><span>Sign Up</span></a></li>
  <li id="menu-item-2575" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/you-need-to-know"><span>Sign In</span></a></li>
  <li id="menu-item-3375" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/faq"><span>FAQ</span></a></li>
  <li id="menu-item-3098" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://chat.bitcoin.com/"><span>Live chat</span></a></li>
  <li id="menu-item-3299" class="menu-item menu-item-type-custom menu-item-object-custom last-item"><a href="https://price.bitcoin.com/"><span>Charts</span></a></li>
</ul>
<span class="menu-toggle"></span></li>
</ul></nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>          
        </div>      
        
        <div class="secondary_menu_wrapper">
          <!-- #secondary-menu -->
                  </div>
        
        <div class="banner_wrapper">
                  </div>
        
        <div class="search_wrapper">
          <!-- #searchform -->
                    <form method="get" id="searchform" action="/">
                        <i class="icon_search icon-search"></i>
            <a href="#" class="icon_close"><i class="icon-cancel"></i></a>
            <input class="field" name="s" id="s" placeholder="Enter your search" type="text">     
            <input class="submit" value="" style="display:none;" type="submit">
          </form>
        </div>        
        
      </div>
      
      <div style="" class="top_bar_right"><div class="top_bar_right_wrapper"><a id="search_button" href="#"><i class="icon-search"></i></a></div></div>     
    </div>
  </div>
</div>
  
        <div class="mfn-main-slider" id="mfn-rev-slider"><link href="stylesheets/css_004.css" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div class="forcefullwidth_wrapper_tp_banner" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px"><div id="rev_slider_9_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: transparent; padding: 0px; height: 600px; position: absolute; overflow: visible; width: 1503px; left: 0px;">
<!-- START REVOLUTION SLIDER 5.0.4.1 fullwidth mode -->
  <div id="rev_slider_9_2" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 600px; margin-top: 0px; margin-bottom: 0px; height: 600px;" data-version="5.0.4.1">
<ul style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;" class="tp-revslider-mainul">  <!-- SLIDE  -->
  <li style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0;" class="tp-revslider-slidesli" data-index="rs-23" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 94.4px, 0px); visibility: hidden; opacity: 0;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" data-lazyload="/wp-content/uploads/2015/12/ny_bg.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="" height="800" width="1440">--><div src="/wp-content/uploads/2015/12/ny_bg.jpg" class="tp-bgimg defaultimg" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;/wp-content/uploads/2015/12/ny_bg.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;"></div></div>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 52px; top: 0px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption tp-shape tp-shapewrapper tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-0 rs-hover-ready" id="slide-23-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 5; background-color: rgba(0, 0, 0, 0.7); padding: 0px; border-color: rgba(0, 0, 0, 0.5); visibility: hidden; transition: none 0s ease 0s ; line-height: 21px; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px; white-space: normal; min-height: 600px; min-width: 1400px; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"> 
    </div></div></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 461px; top: 305px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption Fashion-BigDisplay   tp-resizeme rs-parallaxlevel-0" id="slide-23-layer-12" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['55','55','41','41']" data-fontsize="['45','45','35','35']" data-lineheight="['50','50','40','40']" data-fontweight="['500','500','900','900']" data-width="['586','586','526','526']" data-height="['none','none','81','81']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 586px; min-height: 0px; white-space: normal; max-width: 586px; font-size: 45px; line-height: 50px; font-weight: 500; color: rgb(255, 255, 255); font-family: MuseoSansRounded-500; text-align: center; padding: 0px; border-radius: 0px; visibility: hidden; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; letter-spacing: 2px; max-height: none; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">CHANGE THE WAY YOU
VIEW THE WORLD. 
    </div></div></div></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 622px; top: 429px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption rev-btn  rs-parallaxlevel-0 noSwipe rs-hover-ready" id="slide-23-layer-16" data-x="['center','center','center','center']" data-hoffset="['-1','0','0','0']" data-y="['top','middle','middle','middle']" data-voffset="['429','173','137','137']" data-width="257" data-height="74" data-whitespace="normal" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Power3.easeOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(250, 185, 21, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-actions="[{&quot;event&quot;:&quot;click&quot;,&quot;action&quot;:&quot;simplelink&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;url&quot;:&quot;\/you-need-to-know&quot;}]" data-responsive_offset="on" data-responsive="off" style="z-index: 7; min-width: 257px; min-height: 74px; white-space: normal; max-width: 257px; max-height: 74px; font-size: 17px; line-height: 45px; font-weight: 500; color: rgb(250, 185, 21); font-family: Roboto; text-align: center; background-color: transparent; padding: 12px 35px; border-color: rgb(250, 185, 21); border-style: solid; border-width: 1px; border-radius: 3px; outline: medium none; box-shadow: none; box-sizing: border-box; visibility: hidden; transition: none 0s ease 0s ; margin: 0px; letter-spacing: 0px; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">What is Bitcoin? 
    </div></div></div></div>

    <!-- LAYER NR. 4 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 686px; top: 73px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-0 rs-hover-ready" id="slide-23-layer-17" data-x="['center','center','center','center']" data-hoffset="['-1','-1','-1','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['-131','-131','-131','-131']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:pointer;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 8; line-height: 22px; padding: 0px; border-radius: 0px; visibility: hidden; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"><img style="width: 130px; height: 186px; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;" src="images/logo_big.png" alt="" data-ww="['130px','130px','130px','130px']" data-hh="['186px','186px','186px','186px']" data-lazyload="https://www.bitcoin.com/wp-content/uploads/2015/12/logo_big.png" data-no-retina="" height="173" width="123"> 
    </div></div></div></div>
  </li>
  <!-- SLIDE  -->
  <li style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;" class="tp-revslider-slidesli active-revslide" data-index="rs-24" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 94.4px, 0px); visibility: inherit; opacity: 1;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" data-lazyload="/wp-content/uploads/2015/12/buy_slide.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="" height="1200" width="1800">--><div src="/wp-content/uploads/2015/12/buy_slide.jpg" class="tp-bgimg defaultimg" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;/wp-content/uploads/2015/12/buy_slide.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;"></div></div>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 52px; top: 0px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption tp-shape tp-shapewrapper tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-0 rs-hover-ready" id="slide-24-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 5; background-color: rgba(0, 0, 0, 0.7); padding: 0px; border-color: rgba(0, 0, 0, 0.5); visibility: inherit; transition: none 0s ease 0s ; line-height: 21px; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px; white-space: normal; min-height: 600px; min-width: 1400px; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px; cursor: auto;"> 
    </div></div></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 461px; top: 330px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption Fashion-BigDisplay   tp-resizeme rs-parallaxlevel-0" id="slide-24-layer-12" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['55','55','41','41']" data-fontsize="['45','45','35','35']" data-lineheight="['50','50','40','40']" data-fontweight="['500','500','900','900']" data-width="['586','586','526','526']" data-height="['none','none','81','81']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 586px; min-height: 0px; white-space: normal; max-width: 586px; font-size: 45px; line-height: 50px; font-weight: 500; color: rgb(255, 255, 255); font-family: MuseoSansRounded-500; text-align: center; padding: 0px; border-radius: 0px; visibility: inherit; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; letter-spacing: 2px; max-height: none; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;">Get your own Bitcoin<br>
    </div></div></div></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 622px; top: 429px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><a class="tp-caption rev-btn  rs-parallaxlevel-0 noSwipe rs-hover-ready" data-x="['center','center','center','center']" data-hoffset="['-1','0','0','0']" data-y="['top','middle','middle','middle']" data-voffset="['429','173','137','137']" data-width="257" data-height="74" data-whitespace="normal" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Power3.easeOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(250, 185, 21, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-actions="[{&quot;event&quot;:&quot;click&quot;,&quot;action&quot;:&quot;simplelink&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;url&quot;:&quot;\/buy-bitcoin&quot;}]" data-responsive_offset="on" data-responsive="off" style="z-index: 7; min-width: 257px; min-height: 74px; white-space: normal; max-width: 257px; max-height: 74px; font-size: 17px; line-height: 45px; font-weight: 500; color: rgb(250, 185, 21); font-family: Roboto; text-align: center; background-color: transparent; padding: 12px 35px; border-color: rgb(250, 185, 21); border-style: solid; border-width: 1px; border-radius: 3px; outline: medium none; box-shadow: none; box-sizing: border-box; visibility: inherit; transition: none 0s ease 0s ; margin: 0px; letter-spacing: 0px; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px; cursor: pointer;" href="/transaction">Start Your Business!

    </a>

    </div>
    </div>
    </div>
  
   

    <!-- LAYER NR. 4 -->
    <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 656px; top: 121px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-0 rs-hover-ready" id="slide-24-layer-18" data-x="['center','center','center','center']" data-hoffset="['1','1','1','1']" data-y="['top','top','top','top']" data-voffset="['121','121','121','121']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:pointer;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 8; line-height: 22px; padding: 0px; border-radius: 0px; visibility: inherit; transition: none 0s ease 0s ; border-width: 0px; margin: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 50% 50% 0px;"><img style="width: 193px; height: 172px; transition: none 0s ease 0s ; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 13px;" src="images/get_bitcoins.png" alt="" data-ww="['193px','193px','193px','193px']" data-hh="['172px','172px','172px','172px']" data-lazyload="https://www.bitcoin.com/wp-content/uploads/2015/12/get_bitcoins.png" data-no-retina="" height="172" width="193"> 
    </div></div></div></div>
  </li>
  <!-- SLIDE  -->
  <li style="width: 100%; height: 100%; overflow: hidden;" class="tp-revslider-slidesli" data-index="rs-25" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 94.4px, 0px);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" data-lazyload="/wp-content/uploads/2015/12/news_slide.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="" height="1200" width="1800">--><div src="https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" class="tp-bgimg defaultimg" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0;"></div></div>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption tp-shape tp-shapewrapper tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-0" id="slide-25-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 5; background-color: rgba(0, 0, 0, 0.7); padding: 0px; border-color: rgba(0, 0, 0, 0.5); visibility: hidden;"> 
    </div></div></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption Fashion-BigDisplay   tp-resizeme rs-parallaxlevel-0" id="slide-25-layer-12" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['55','55','41','41']" data-fontsize="['45','45','35','35']" data-lineheight="['50','50','40','40']" data-fontweight="['500','500','900','900']" data-width="['586','586','526','526']" data-height="['none','none','81','81']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 586px; min-height: auto; white-space: normal; max-width: 586px; font-size: 45px; line-height: 50px; font-weight: 500; color: rgb(255, 255, 255); font-family: MuseoSansRounded-500; text-align: center; padding: 0px; border-radius: 0px; visibility: hidden;">READ THE LATEST NEWS 
    </div></div></div></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption rev-btn  rs-parallaxlevel-0 noSwipe" id="slide-25-layer-16" data-x="['center','center','center','center']" data-hoffset="['-1','0','0','0']" data-y="['top','middle','middle','middle']" data-voffset="['429','173','137','137']" data-width="257" data-height="74" data-whitespace="normal" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Power3.easeOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(250, 185, 21, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-actions="[{&quot;event&quot;:&quot;click&quot;,&quot;action&quot;:&quot;simplelink&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;url&quot;:&quot;https:\/\/news.bitcoin.com\/&quot;}]" data-responsive_offset="on" data-responsive="off" style="z-index: 7; min-width: 257px; min-height: 74px; white-space: normal; max-width: 257px; max-height: 74px; font-size: 17px; line-height: 45px; font-weight: 500; color: rgb(250, 185, 21); font-family: Roboto; text-align: center; background-color: transparent; padding: 12px 35px; border-color: rgb(250, 185, 21); border-style: solid; border-width: 2px; border-radius: 3px; outline: medium none; box-shadow: none; box-sizing: border-box; visibility: hidden;">Latest News 
    </div></div></div></div>

    <!-- LAYER NR. 4 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption   tp-resizeme rs-parallaxlevel-0" id="slide-25-layer-18" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:pointer;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 8; line-height: 22px; padding: 0px; border-radius: 0px; visibility: hidden;"><img src="images/dummy.png" alt="" data-ww="['201px','201px','201px','201px']" data-hh="['174px','174px','174px','174px']" data-lazyload="https://www.bitcoin.com/wp-content/uploads/2015/12/news_icon.png" data-no-retina="" height="174" width="201"> 
    </div></div></div></div>
  </li>
  <!-- SLIDE  -->
  <li style="width: 100%; height: 100%; overflow: hidden;" class="tp-revslider-slidesli" data-index="rs-26" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Intro" data-description="">
    <!-- MAIN IMAGE -->
    <div class="slotholder" style="width: 100%; height: 100%; backface-visibility: hidden; left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 94.4px, 0px);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://www.bitcoin.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" data-lazyload="/wp-content/uploads/2015/12/wallets_slide.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="" height="1200" width="1800">--><div src="/wp-content/uploads/2015/12/wallets_slide.jpg" class="tp-bgimg defaultimg" style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;/wp-content/uploads/2015/12/wallets_slide.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0;"></div></div>
    <!-- LAYERS -->

    <!-- LAYER NR. 1 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption tp-shape tp-shapewrapper tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-0" id="slide-26-layer-11" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-style_hover="cursor:default;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 5; background-color: rgba(0, 0, 0, 0.7); padding: 0px; border-color: rgba(0, 0, 0, 0.5); visibility: hidden;"> 
    </div></div></div></div>

    <!-- LAYER NR. 2 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption Fashion-BigDisplay   tp-resizeme rs-parallaxlevel-0" id="slide-26-layer-12" data-x="['center','center','center','center']" data-hoffset="['2','2','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['55','55','41','41']" data-fontsize="['45','45','35','35']" data-lineheight="['50','50','40','40']" data-fontweight="['500','500','900','900']" data-width="['586','586','526','526']" data-height="['none','none','81','81']" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; min-width: 586px; min-height: auto; white-space: normal; max-width: 586px; font-size: 45px; line-height: 50px; font-weight: 500; color: rgb(255, 255, 255); font-family: MuseoSansRounded-500; text-align: center; padding: 0px; border-radius: 0px; visibility: hidden;">OPEN A WALLET 
    </div></div></div></div>

    <!-- LAYER NR. 3 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption rev-btn  rs-parallaxlevel-0 noSwipe" id="slide-26-layer-16" data-x="['center','center','center','center']" data-hoffset="['-1','0','0','0']" data-y="['top','middle','middle','middle']" data-voffset="['429','173','137','137']" data-width="257" data-height="74" data-whitespace="normal" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Power3.easeOut;" data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(250, 185, 21, 1.00);cursor:pointer;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-splitin="none" data-splitout="none" data-actions="[{&quot;event&quot;:&quot;click&quot;,&quot;action&quot;:&quot;simplelink&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;url&quot;:&quot;\/choose-your-wallet&quot;}]" data-responsive_offset="on" data-responsive="off" style="z-index: 7; min-width: 257px; min-height: 74px; white-space: normal; max-width: 257px; max-height: 74px; font-size: 17px; line-height: 45px; font-weight: 500; color: rgb(250, 185, 21); font-family: Roboto; text-align: center; background-color: transparent; padding: 12px 35px; border-color: rgb(250, 185, 21); border-style: solid; border-width: 2px; border-radius: 3px; outline: medium none; box-shadow: none; box-sizing: border-box; visibility: hidden;">Open A Wallet 
    </div></div></div></div>

    <!-- LAYER NR. 4 -->
    <div class="tp-parallax-wrap" style="position:absolute;visibility:hidden"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position:absolute"><div class="tp-caption   tp-resizeme rs-parallaxlevel-0" id="slide-26-layer-18" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-style_hover="cursor:pointer;" data-transform_in="opacity:0;s:300;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 8; line-height: 22px; padding: 0px; border-radius: 0px; visibility: hidden;"><img src="images/wallet_icon.png" alt="" data-ww="['193px','193px','193px','193px']" data-hh="['172px','172px','172px','172px']" data-lazyload="https://www.bitcoin.com/wp-content/uploads/2015/12/wallet_icon.png" data-no-retina="" height="172" width="193"> 
    </div></div></div></div>
  </li>
</ul>
<div class="tp-static-layers">
</div>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 51.0889%; transform: translate3d(0px, 0px, 0px);"></div>  <div style="display: none;" class="tp-loader off"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div style="height: 83px; width: 17px; top: 50%; transform: matrix(1, 0, 0, 1, -47, -41); left: 100%; visibility: inherit; opacity: 0.999602;" class="tp-bullets hephaistos vertical noSwipe"><div style="top: 0px; left: 0px;" class="tp-bullet"></div><div style="top: 22px; left: 0px;" class="tp-bullet selected"></div><div style="top: 44px; left: 0px;" class="tp-bullet"></div><div style="top: 66px; left: 0px;" class="tp-bullet"></div></div></div>
<script>document.write("<style type=\"text/css\">.tp-caption.Fashion-BigDisplay,.Fashion-BigDisplay{color:rgba(0,0,0,1.00);font-size:60px;line-height:60px;font-weight:900;font-style:normal;font-family:Raleway;padding:0 0 0 0;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0;border-radius:0 0 0 0;letter-spacing:2px}</style>");</script><style type="text/css">.tp-caption.Fashion-BigDisplay,.Fashion-BigDisplay{color:rgba(0,0,0,1.00);font-size:60px;line-height:60px;font-weight:900;font-style:normal;font-family:Raleway;padding:0 0 0 0;text-decoration:none;background-color:transparent;border-color:transparent;border-style:none;border-width:0;border-radius:0 0 0 0;letter-spacing:2px}</style>
    <script type="text/javascript">

      /******************************************
        - PREPARE PLACEHOLDER FOR SLIDER  -
      ******************************************/

      var setREVStartSize=function(){
        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
          e.c = jQuery('#rev_slider_9_2');
          e.responsiveLevels = [620,620,778,778];
          e.gridwidth = [1400,1240,778,320];
          e.gridheight = [600,500,400,355];
              
          e.sliderLayout = "fullwidth";
          e.minHeight = 355;
          if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
      };
            
        
      setREVStartSize();
      
      var tpj=jQuery;
      
      var revapi9;
      tpj(document).ready(function() {
        if(tpj("#rev_slider_9_2").revolution == undefined){
          revslider_showDoubleJqueryError("#rev_slider_9_2");
        }else{
          revapi9 = tpj("#rev_slider_9_2").show().revolution({
            sliderType:"standard",
            jsFileLocation:"https://www.bitcoin.com/wp-content/plugins/revslider/public/assets/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
              keyboardNavigation:"off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation:"off",
              onHoverStop:"on",
              touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 50,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              }
              ,
              bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                style:"hephaistos",
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                direction:"vertical",
                h_align:"right",
                v_align:"center",
                h_offset:30,
                v_offset:0,
                space:5,
                tmp:''
              }
            },
            responsiveLevels:[620,620,778,778],
            gridwidth:[1400,1240,778,320],
            gridheight:[600,500,400,355],
            lazyType:"smart",
            minHeight:355,
            parallax: {
              type:"mouse",
              origo:"slidercenter",
              speed:2000,
              levels:[2,3,4,5,6,7,12,16,10,50],
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            disableProgressBar:"on",
            hideThumbsOnMobile:"on",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0,
            debugMode:false,
            fallbacks: {
              simplifyAll:"off",
              nextSlideOnWindowFocus:"off",
              disableFocusListener:"off",
            }
          });
        }
      }); /*ready*/
    </script>
    <script>document.write("<style type=\"text/css\">.hephaistos.tp-bullets{}.hephaistos.tp-bullets:before{content:\" \";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.hephaistos .tp-bullet{width:12px;height:12px;position:absolute;background:#999;border:3px solid #f5f5f5;border-radius:50%;cursor:pointer;box-sizing:content-box; box-shadow:0px 0px 2px 1px rgba(130,130,130,0.3)}.hephaistos .tp-bullet:hover,.hephaistos .tp-bullet.selected{background:#fff;  border-color:#000}.hephaistos .tp-bullet-image{}.hephaistos .tp-bullet-title{}</style>");</script>
    <style type="text/css">.hephaistos.tp-bullets{}.hephaistos.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.hephaistos .tp-bullet{width:12px;height:12px;position:absolute;background:#999;border:3px solid #f5f5f5;border-radius:50%;cursor:pointer;box-sizing:content-box; box-shadow:0px 0px 2px 1px rgba(130,130,130,0.3)}.hephaistos .tp-bullet:hover,.hephaistos .tp-bullet.selected{background:#fff;  border-color:#000}.hephaistos .tp-bullet-image{}.hephaistos .tp-bullet-title{}</style>
    </div><div class="tp-fullwidth-forcer" style="width: 100%; height: 600px;"></div></div><!-- END REVOLUTION SLIDER -->
    </div>      
</header>
        
          
    </div>
    
    <!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->  
<!-- #Content -->
<div style="" id="Content">
  <div style="" class="content_wrapper clearfix">

    <!-- .sections_group -->
    <div style="" class="sections_group">
    
      <div style="" class="entry-content" itemprop="mainContentOfPage">
        <div class="section    " style="padding-top:0px; padding-bottom:0px; background-color:"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_fancy_heading welcome-text"><div class="fancy_heading fancy_heading_icon"><h1 class="title">Getting Started with <span class="moon-symbol"></span>Bitcoin</h1></div>
</div></div></div></div><div class="section  full-width  " id="inform-yourself" style="padding-top: 0px; padding-bottom: 0px; background-image: url(&quot;https://www.bitcoin.com/wp-content/uploads/2015/03/library1.jpg&quot;); background-repeat: no-repeat; background-position: 50% 288px; background-attachment: fixed; background-size: cover;" data-stellar-background-ratio="0.5"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column three-fourth column_fancy_heading inform-yourself align-right container"><div class="fancy_heading fancy_heading_line"><h2 class="title">Why BitCoin？</h2><div class="inside">比特币和其他任何传统货币都十分不同，国内比特币市场相比于股票、期货、基金等市场一方面规模较小，有挖掘潜力；另一方面宏观调控干预较少，影响因素相对较少。<span class="hide-mobile">
 能够在耗费较少精力了解金融市场的情况下专注于数据本身和算法获得收益。<br></span>
<a href="https://www.bitcoin.com/getting-started">Learn More</a></div></div>
</div><div class="column one-fourth column_icon_box "><div class="icon_box icon_position_top no_border"><div class="icon_wrapper"><div class="icon"><i class="moon-inform"></i></div></div><div class="desc_wrapper"></div></div>
</div></div></div></div><div class="section  full-width  " id="wallet-section" style="padding-top:0px; padding-bottom:0px; background-color:"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one-fourth column_icon_box "><div class="icon_box icon_position_top no_border"><div class="icon_wrapper"><div class="icon"><i class="moon-choose_wallet"></i></div></div><div class="desc_wrapper"></div></div>
</div><div class="column three-fourth column_fancy_heading choose-wallet align-left container dark"><div class="fancy_heading fancy_heading_line"><div class="animate fadeInRight" data-anim-type="fadeInRight"><h2 class="title">HOW TO MAKE PROFITS</h2><div class="inside"><span class="hide-mobile">倒买倒卖，赚取差价。</span>我们通过BTCC网站上给出的比特币历史交易数据实时计算当前时刻应该买入还是卖出比特币。根据我们的计算和模拟交易的结果，日利率可达0.8%。<br>
<a href="https://www.bitcoin.com/choose-your-wallet">Sign up to have a try</a>
 </div></div></div>
</div></div></div></div><div class="section  full-width  " id="get-bitcoins" style="padding-top: 0px; padding-bottom: 0px; background-image: url(&quot;https://www.bitcoin.com/wp-content/uploads/2015/03/office.jpg&quot;); background-repeat: no-repeat; background-position: 50% -138px; background-attachment: fixed; background-size: cover;" data-stellar-background-ratio="0.5"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column three-fourth column_fancy_heading get-bitcoins align-right container"><div class="fancy_heading fancy_heading_line"><div class="animate fadeInRight" data-anim-type="fadeInRight"><h2 class="title">数据规模与核心算法</h2><div class="inside"><span class="hide-mobile">通过BTCC API总共下载了6G的历史交易数据。利用mapreduce对原始数据预处理，Bayesian Regression与Logisic Regression对历史曲线进行回归分析，根据论文“Bayesian regression and Bitcoin”中的提示，回归分析基于过长历史数据将会导致预测准确率下降，最终我们选择了每16min进行一次预测，分析下一个16min的曲线变化情况为用户提供最终买卖决策。</a></div></div></div>
</div><div class="column one-fourth column_icon_box "><div class="icon_box icon_position_top no_border"><div class="icon_wrapper"><div class="icon"><i class="moon-get_bitcoins"></i></div></div><div class="desc_wrapper"></div></div>
</div></div></div></div><div class="section  full-width  " id="spend-bitcoins" style="padding-top:0px; padding-bottom:0px; background-color:"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one-fourth column_icon_box "><div class="icon_box icon_position_top no_border"><div class="icon_wrapper"><div class="icon"><i class="moon-spend_bitcoins"></i></div></div><div class="desc_wrapper"></div></div>
</div><div class="column three-fourth column_fancy_heading spend-bitcoins align-left dark container"><div class="fancy_heading fancy_heading_line"><div class="animate fadeInLeft" data-anim-type="fadeInLeft"><h2 class="title">成果与展示</h2><div class="inside"><span class="hide-mobile">我们从处理过的6G数据中截取一小部分绘制成折线统计图。 </span>数据粒度以16分钟为单位，清楚地呈现从2015年9月-10月一个月期间每16分钟的市场行情变化情况，<span class="hide-mobile"> 并清楚地看到我们所给出的决策与预期价格涨跌的一致性，即尽可能保证交易成功的前提下高卖低买。</span><br>
<a href="/transaction">Display</a></div></div></div>
</div></div></div></div><div class="section  full-width  " id="what-next" style="padding-top: 15px; padding-bottom: 15px; background-image: url(&quot;https://www.bitcoin.com/wp-content/uploads/2015/03/what-nxt-bg.jpg&quot;); background-repeat: no-repeat; background-position: 50% 406px; background-attachment: fixed; background-size: cover;" data-stellar-background-ratio="0.5"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one-third column_fancy_heading "><div class="fancy_heading fancy_heading_icon"><h2 class="title">Thanks for listening!</h2></div>
</div><div class="column one-third column_fancy_heading container"><div class="fancy_heading fancy_heading_line"><div class="inside"><p style="text-align:"class="btn btn-lg">Chen Wenxiao</p></div></div>
</div><div class="column one-third column_fancy_heading container"><div class="fancy_heading fancy_heading_line"><div class="inside"><p class="btn btn-lg">Zhou Jianyu</p></div></div>
</div></div></div></div><div class="section    " style="padding-top:0px; padding-bottom:0px; background-color:"><div class="section_wrapper clearfix"><div class="items_group clearfix"><div class="column one column_placeholder"><div class="placeholder">&nbsp;</div></div>
    
    <!-- .four-columns - sidebar -->
    
  </div>
</div>


<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
<!-- #Footer -->    
<!-- <footer id="Footer" class="clearfix">
  
    
  <div class="widgets_wrapper"><div class="container"><div class="column one-fourth"><aside id="text-5" class="widget widget_text"><h4>QUOTE</h4>     <div class="textwidget"><p>待完善</p></div>
    </aside></div> --><!-- <div class="column one-fourth"><aside id="text-3" class="widget widget_text"><h4>QUICK LINKS</h4>     <div class="textwidget"><div class="column one-second"><a href="https://www.bitcoin.com/buy-bitcoin">待完善</a><br><a href="https://forum.bitcoin.com/">FORUM</a><br>
<a href="https://news.bitcoin.com/">NEWS</a><br>
<a href="https://store.bitcoin.com/">STORE</a><br>
<a href="https://www.bitcoin.com/getting-started">GETTING STARTED</a><br><a href="https://www.bitcoin.com/press">PRESS TOOLS</a><br>
<a href="https://www.bitcoin.com/contact-us">CONTACT US</a><br>
<a href="https://store.bitcoin.com/">STORE</a>
</div>
<div class="column one-second">
<a href="https://www.bitcoin.com/choose-your-wallet">WALLETS</a><br>
<a href="https://chat.bitcoin.com/">LIVE CHAT</a><br>
<a href="https://www.bitcoin.com/you-need-to-know">GUIDE</a><br>
<a href="https://www.bitcoin.com/faq">FAQ</a><br>
<a href="https://price.bitcoin.com/">CHARTS</a><br>
<div class="column one-second"></div>
<a href="https://www.bitcoin.com/advertise">ADVERTISE</a><br><a href="https://www.bitcoin.com/legal">LEGAL
</a><br>
<a href="https://www.bitcoin.com/privacy-policy">PRIVACY</a>
</div>


</div>
    </aside></div> -->
<!--     <div class="column one-fourth"><aside id="text-2" class="widget widget_text"><h4>ABOUT BITCOIN.COM</h4>     <div class="textwidget"><p>Bitcoin.com is your premier source for everything Bitcoin related. We can help you <a href="https://www.bitcoin.com/buy-bitcoin">buy bitcoins</a>, choose a bitcoin <a href="https://www.bitcoin.com/choose-your-wallet">wallet</a>. You can also read the latest <a href="https://news.bitcoin.com/">news</a>, or engage with the community on our<a href="https://forum.bitcoin.com/"> Bitcoin Forum</a>.  Please keep in mind that this is a commercial website that lists wallets, exchanges and other bitcoin related companies.</p></div>
    </aside></div><div class="column one-fourth"><aside id="mailchimpsf_widget-3" class="widget widget_mailchimpsf_widget"><h4>Sign up for Bitcoin.com Newsletter</h4> -->
<!-- <style>
  .widget_mailchimpsf_widget .widget-title {
    line-height: 1.4em;
    margin-bottom: 0.75em;
  }
  #mc_subheader {
    line-height: 1.25em;
    margin-bottom: 18px;
  }
  .mc_merge_var {
    margin-bottom: 1.0em;
  }
  .mc_var_label,
  .mc_interest_label {
    display: block;
    margin-bottom: 0.5em;
  }
  .mc_input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .mc_input.mc_phone {
    width: auto;
  }
  select.mc_select {
    margin-top: 0.5em;
    width: 100%;
  }
  .mc_address_label {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    display: block;
  }
  .mc_address_label ~ select {
    width: 100%;    
  }
  .mc_list li {
    list-style: none;
    background: none !important;
  }
  .mc_interests_header {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
  }
  .mc_interest label,
  .mc_interest input {
    margin-bottom: 0.4em;
  }
  #mc_signup_submit {
    margin-top: 1.5em;
    width: 80%;
  }
  #mc_unsub_link a {
    font-size: 0.75em;
  }
  #mc_unsub_link {
    margin-top: 1.0em;
  }
  .mc_header_address,
  .mc_email_format {
    display: block;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
  }
  .mc_email_options {
    margin-top: 0.5em;
  }
  .mc_email_type {
    padding-left: 4px;
  }
</style>

<div id="mc_signup">
  <form method="post" action="#mc_signup" id="mc_signup_form">
    <input id="mc_submit_type" name="mc_submit_type" value="js" type="hidden">
    <input name="mcsf_action" value="mc_submit_signup_form" type="hidden">
    <input id="_mc_submit_signup_form_nonce" name="_mc_submit_signup_form_nonce" value="2c564c7cde" type="hidden">    
    
  <div class="mc_form_inside">
    
    <div class="updated" id="mc_message">
          </div>
    
<div class="mc_merge_var">
    <label for="mc_mv_EMAIL" class="mc_var_label mc_header mc_header_email">Email Address<span class="mc_required">*</span></label>
  <input size="18" placeholder="" name="mc_mv_EMAIL" id="mc_mv_EMAIL" class="mc_input" type="text">
</div>
<div class="mc_merge_var">
    <label for="mc_mv_FREQ" class="mc_var_label mc_header mc_header_dropdown">Don't send my newsletters more often than</label>
    <select id="mc_mv_FREQ" name="mc_mv_FREQ" class="mc_select">
    <option value="Daily">Daily</option>
    <option value="Weekly" selected="selected">Weekly</option>
    <option value="Quarterly">Quarterly</option>
  </select>
</div>
  <div id="mc-indicates-required">
        * = required field      </div>
      
    <div class="mc_signup_submit">
      <input name="mc_signup_submit" id="mc_signup_submit" value="Subscribe" class="button" type="submit">
    </div>
  
  
          <br>
      <div id="mc_display_rewards" align="center">
        powered by <a href="http://www.mailchimp.com/affiliates/?aid=542e9753f0ccf54d68a12468b&amp;afl=1"></a>Zhou Jianyu and ChenWenxi
      </div>
          
  </div>
  </form>
</div>
  </aside></div></div></div>  
    <div class="footer_copy">
    <div class="container">
      <div class="column one">
      
                <a id="back_to_top" class="button button_left button_js hide" href=""><span class="button_icon"><i class="icon-up-open-big"></i></span></a>
        
       
        <div class="copyright">
          Department of Computer Science and Technology, Tsinghua University    </div>
        
        <ul class="social"><li class="facebook"><a target="_blank" href="https://www.facebook.com/buy.bitcoin.news" title="Facebook"><i class="icon-facebook"></i></a></li><li class="twitter"><a target="_blank" href="https://twitter.com/BTCTN" title="Twitter"><i class="icon-twitter"></i></a></li><li class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCetxkZolEBHX47BqtZktbkg" title="YouTube"><i class="icon-play"></i></a></li><li class="rss"><a target="_blank" href="https://www.bitcoin.com/feed" title="RSS"><i class="icon-rss"></i></a></li></ul>            
      </div>
    </div>
  </div>
    
</footer>
 -->
</div><!-- #Wrapper -->


<!-- mfn_hook_bottom --><!-- mfn_hook_bottom -->  
<!-- wp_footer() -->
<div id="pum-3587" class="pum pum-overlay pum-theme-3581 popmake-overlay pum-overlay-disabled" data-popmake="{&quot;id&quot;:3587,&quot;slug&quot;:&quot;bitcoin-com-store-signup&quot;,&quot;theme_id&quot;:3581,&quot;cookies&quot;:[{&quot;event&quot;:&quot;on_popup_close&quot;,&quot;settings&quot;:{&quot;name&quot;:&quot;pum-3587&quot;,&quot;key&quot;:&quot;154dde7af46&quot;,&quot;time&quot;:&quot;3 month&quot;,&quot;path&quot;:1}}],&quot;triggers&quot;:[{&quot;type&quot;:&quot;auto_open&quot;,&quot;settings&quot;:{&quot;delay&quot;:&quot;10000&quot;,&quot;cookie&quot;:{&quot;name&quot;:[&quot;pum-3587&quot;]}}}],&quot;meta&quot;:{&quot;display&quot;:{&quot;size&quot;:&quot;small&quot;,&quot;responsive_min_width&quot;:&quot;&quot;,&quot;responsive_max_width&quot;:&quot;&quot;,&quot;custom_width&quot;:&quot;640&quot;,&quot;custom_height&quot;:&quot;380&quot;,&quot;overlay_disabled&quot;:&quot;true&quot;,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;350&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;location&quot;:&quot;center top&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;position_top&quot;:&quot;95&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;overlay_zindex&quot;:&quot;1999999998&quot;,&quot;zindex&quot;:&quot;1999999999&quot;,&quot;responsive_min_width_unit&quot;:&quot;px&quot;,&quot;responsive_max_width_unit&quot;:&quot;px&quot;,&quot;custom_width_unit&quot;:&quot;px&quot;,&quot;custom_height_unit&quot;:&quot;px&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;0&quot;},&quot;click_open&quot;:{&quot;extra_selectors&quot;:&quot;&quot;}}}" role="dialog" aria-hidden="true" aria-labelledby="pum_popup_title_3587">

  <div id="popmake-3587" class="pum-container popmake theme-3581 pum-responsive pum-responsive-small responsive size-small">

        

        

    

        <div class="pum-content popmake-content">
      <p><!-- Begin MailChimp Signup Form --></p>
<div id="mc_embed_signup">
<form id="mc-embedded-subscribe-form" class="validate" style="text-align: center;" action="//bitcoin.us11.list-manage.com/subscribe/post?u=542e9753f0ccf54d68a12468b&amp;id=d072673a13" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
<div id="mc_embed_signup_scroll">
<div style="text-align: center;">
<h2>Sign up for the News.Bitcoin.com newsletter and win crypto swag!</h2>
<p>Send us your email and keep an eye out for the winner. Stay crypto!</p>
<p style="text-align: center;"><img class="aligncenter" style="height: 250px;" src="images/too_free_to_fail_on_lapis-350.png"></p>
</div>
<div class="mc-field-group" style="text-align: center;"><label for="mce-EMAIL">Email Address<br>
</label><br>
<input id="mce-EMAIL" class="required email" style="margin-left: auto; margin-right: auto;" name="EMAIL" type="email"></div>
<div id="mce-responses" class="clear"></div>
<p><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--></p>
<div style="position: absolute; left: -5000px;"><input tabindex="0" name="b_542e9753f0ccf54d68a12468b_5607ed3339" type="text"></div>
<div class=""><input id="mc-embedded-subscribe" class="button" style="margin-left: auto; margin-right: auto;" name="subscribe" value="Subscribe" type="submit"></div>
</div>
</form>
</div>
<p><!--End mc_embed_signup--></p>
    </div>


        

                    <button type="button" class="pum-close popmake-close" aria-label="Close">
      CLOSE            </button>
    
  </div>

</div>
<script type="text/javascript" src="javascripts/swift-box.js"></script>
<script type="text/javascript" src="javascripts/jquery_008.js"></script>
<script type="text/javascript" src="javascripts/owl_002.js"></script>
<script type="text/javascript" src="javascripts/widget.js"></script>
<script type="text/javascript" src="javascripts/mouse.js"></script>
<script type="text/javascript" src="javascripts/sortable.js"></script>
<script type="text/javascript" src="javascripts/tabs.js"></script>
<script type="text/javascript" src="javascripts/accordion.js"></script>
<script type="text/javascript" src="javascripts/jquery_002.js"></script>
<script type="text/javascript" src="javascripts/animations.js"></script>
<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/colorpicker.js"></script>
<script type="text/javascript" src="javascripts/mfn.js"></script>
<script type="text/javascript" src="javascripts/scripts.js"></script>
<script type="text/javascript" src="javascripts/position.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var pum_vars = {"ajaxurl":"\/wp-admin\/admin-ajax.php","default_theme":"3581"};
var ajaxurl = "\/wp-admin\/admin-ajax.php";
var popmake_default_theme = "3581";
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/site.js" defer="defer"></script>
<script type="text/javascript" src="javascripts/fitvids.js"></script>
<script type="text/javascript" src="javascripts/jquery_003.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var JQLBSettings = {"showTitle":"0","showCaption":"0","showNumbers":"0","fitToScreen":"0","resizeSpeed":"400","showDownload":"1","navbarOnTop":"0","marginSize":"0","slideshowSpeed":"4000","prevLinkTitle":"previous image","nextLinkTitle":"next image","closeTitle":"close image gallery","image":"Image ","of":" of ","download":"Download","pause":"(pause slideshow)","play":"(play slideshow)"};
/* ]]> */
</script>
<script type="text/javascript" src="javascripts/jquery_004.js"></script>
<script type="text/javascript" src="javascripts/wp-embed.js"></script>
<script>
//<![CDATA[
jQuery(function($){
   
    $('a#logo').attr('href', '/');
    $('.nav-tabs li a').click(function(e) {
      e.preventDefault();
      $(this).parents('.nav-tabs').find('li').removeClass('active');
      $(this).parent().addClass('active');
      var id = $(this).attr('href');
      $(this).parents('.nav-tabs').next('.tab-content').find('.tab.active').removeClass('active');
    $(id).addClass('active');
    $(id).find('.nav-tabs li').removeClass('active');
    $(id).find('.nav-tabs li').first().addClass('active');
           $(id).find('.tab').first().addClass('active');
    });
});
//]]>
</script>
    <script type="text/javascript">
  nb_lightbox = true;
  nb_touchswipe = true;
  nb_min_news_h = 150;
  nb_min_news_w = 200;
  nb_min_horiz_w = 400;
  nb_read_more_txt = "..";
  nb_fb_share_fix = "https://www.bitcoin.com/wp-content/plugins/swift-box-wp/lcis_fb_img_fix.php";
  nb_script_basepath = "https://www.bitcoin.com/wp-content/plugins/swift-box-wp/js/sb/";
  
  nb_short_d_names = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  nb_full_d_names = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  nb_short_m_names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  nb_full_m_names = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  nb_elapsed_names = ["ago", "seconds", "minute", "minutes", "hour", "hours", "day", "days", "week", "weeks", "month", "months"];
  
    </script>
  

<script src="javascripts/magnific-popup.js" type="text/javascript"></script><script src="javascripts/jquery_006.js" type="text/javascript"></script></body></html>