<div style="top: 0px;" class="is-sticky" id="Top_bar">

  <div class="container">
    <div class="column one">
    
      <div style="width: 1131px;" class="top_bar_left clearfix">
      
        <!-- .logo -->
        <div class="logo">
          <a id="logo" href="https://www.bitcoin.com/" title="Bitcoin.com"><img class="logo-main   scale-with-grid" src="images/my-bitcoin-logo.png" alt="Bitcoin.com"><img class="logo-sticky scale-with-grid" src="images/my-bitcoin-logo.png" alt=""><img class="logo-mobile scale-with-grid" src="images/my-bitcoin-logo.png" alt=""></a>        </div>
      
        <div class="menu_wrapper">
          <nav id="menu" class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-2516" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/choose-your-wallet"><span>Wallets</span></a></li>
<li id="menu-item-3371" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Get Bitcoin</span></a></li>
<li id="menu-item-3531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Spend Bitcoin</span></a></li>
<li id="menu-item-2868" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://forum.bitcoin.com/"><span>Program Introduction</span></a></li>
<li id="menu-item-3555" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>About Us</span></a>
<li id="menu-item-2572" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children submenu"><a href="#"><span>Get Start</span></a>
<ul class="sub-menu">
  <li id="menu-item-2573" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/getting-started"><span>Sign Up</span></a></li>
  <li id="menu-item-2575" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/you-need-to-know"><span>Sign In</span></a></li>
  <li id="menu-item-3375" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.bitcoin.com/faq"><span>FAQ</span></a></li>
  <li id="menu-item-3098" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://chat.bitcoin.com/"><span>Live chat</span></a></li>
  <li id="menu-item-3299" class="menu-item menu-item-type-custom menu-item-object-custom last-item"><a href="https://price.bitcoin.com/"><span>Charts</span></a></li>
</ul>
<span class="menu-toggle"></span></li>
</ul></nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu"></i></a>          
        </div>      
        
        <div class="secondary_menu_wrapper">
          <!-- #secondary-menu -->
                  </div>
        
        <div class="banner_wrapper">
                  </div>
        
        <div class="search_wrapper">
          <!-- #searchform -->
                    <form method="get" id="searchform" action="/">
                        <i class="icon_search icon-search"></i>
            <a href="#" class="icon_close"><i class="icon-cancel"></i></a>
            <input class="field" name="s" id="s" placeholder="Enter your search" type="text">     
            <input class="submit" value="" style="display:none;" type="submit">
          </form>
        </div>        
        
      </div>
      
      <div style="" class="top_bar_right"><div class="top_bar_right_wrapper"><a id="search_button" href="#"><i class="icon-search"></i></a></div></div>     
    </div>
  </div>
</div>